<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul id="nav-list" class="navbar-nav me-auto mb-2 mb-lg-0 w-100 d-flex justify-content-around">
          <li class="nav-item">
            <a class="nav-link text-light COD" aria-current="page" routerLink='/cod'>Call of Duty</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light Battle" aria-current="page" href="#">Battlefield 2042</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light NW" aria-current="page" href="#">New World</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <fa-icon *nfIf="userLoggedIn" [icon]="faUserAccount" style="color: rgb(9, 153, 9);"></fa-icon>
        <ul class="register d-flex text-light list-unstyled mt-3 me-5 justify-content-around">
          <li class="text-warning"><a routerLink="register">Register</a></li>
          <li>/</li>
          <li class="text-warning"><a routerLink="login">Login</a></li>
        </ul>
        <!--<form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>-->
      </div>
    </div>
  </nav>