<div id="cod-nav" class="w-100 bg-danger">
    <ul id="cod-links" class="d-flex w-100 justify-content-around h-100 align-items-center text-light">
        <li>
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Warzone
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="warzonehome">Warzone Home</a></li>
                <li><a class="dropdown-item" routerLink="/wzload">Loadout Generator</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li><a>|</a></li>
        <li><a>Cold War</a></li>
        <li><a>|</a></li>
        <li><a>Modern Warfare</a></li>
        <li><a>|</a></li>
        <li><a>Vanguard</a></li>
    </ul>
</div>