<div class="d-flex justify-content-center">
    <form class="d-flex flex-column w-25">
        <label>Username</label>
        <input>
        <label>Email</label>
        <input>
        <label for="">Country</label>
        <select>
            <option *ngFor="let a of countries" value="">{{a}}</option>
        </select>
        <label>Password</label>
        <input>
        <label>Confirm Password</label>
        <input>
        <div class="d-flex justify-content-end align-items-center">
        <input class="m-1 p-0" type="checkbox"><label class="m-0 p-0">Notified of updates and get newsletter</label>
        </div>
        <button type="submit" class="btn btn-dark text-uppercase fw-bold ">Register</button>
    </form>
</div>
